<%= f.simple_fields_for :products, child_index: index do |ff| %>
<div class="product">
  <%= ff.input :name %>
  <%= ff.input :price %>
  <%= ff.input :description  %>

  <%= ff.input :product_image, as: :file %>
  <%= ff.association :category, as: :radio_buttons,
    checked: ff.object.category_id || Category.first.id  %>
  <br>
  <%= ff.input_field :_destroy, as: :hidden %>
  <%= link_to "Remove this product", "#", id: "", class: 'btn btn-warning remove-product' %>
  <br>
  <br>
</div>
<% end %>