
  <h3 class="card-title"><%= product.name %></h3>
  <b><%= number_to_currency product.price %></b>
  <p class = "card-description">
    <%= simple_format product.description  %>
  </p>
  <div class="product-image">
  <%= image_tag product.product_image.url(:medium), class: "img-responsive"%>
  </div>
  <p class="product-type">
    <%= product.category.name %>
  </p>